<!doctype html>
<title>About men and women</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>Question #{{num}}</h1>

  <div class=metanav>

    {{question}}

    <h4>
      <form id='answerform' method='post' action='next_m' >
        <p>
          Answer: <br />
          <input type='radio' name='answer_from_layout' value={{ans1}} /> {{ans1}} <br />
          <input type='radio' name='answer_from_layout' value={{ans2}} /> {{ans2}} <br />
         
        </p>

        <p>
          <input type='submit' value='NextButton_m' />
        </p>
      </form>
    </h4>
  </div>
</div>
